body{
    background-image: url(graphics/ground.jpeg);
}

h1{
    color: darkslategray;
    font-size: 24;   
}

h5{
    color: firebrick;
    font-size: 12;
}
hr{
    color: fuchsia;
    height: 10px;
    width: 95%;
}


a:link{
    color:gold;
}

    a:visited{
        color:hotpink
    }   


p{
    font-family: 'Kiwi Maru', serif;
    text-indent: 50px;
}

#paragraphOne{
    background-color: maroon;
    position: absolute; top: 100px; left: 300px; 
}