body{
    background-color:lavender;
}

h1{
    color:navy;
    font-size: 40;
    font-family: 'Roboto Slab', serif;
}

h3{
    font-size: 10;
    color:navy;
}

p2{
    position: relative; left: 50px; 
    padding: 5px;
}

a:link{
    color: midnightblue;
}

    a:visited{
        color:mediumpurple; 
    }   
