body{
    background-color:lavender;
}

h1{
    color:navy;
    font-size: 40;
    font-family: 'Roboto Slab', serif;
}

h2{
    color: lightslategrey;
    font-size: 30;
    font-family: 'Roboto Slab', serif;
}

a:link{
    color: midnightblue;
}

    a:visited{
        color:mediumpurple; 
    }   
